body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f4c7ab;
  background-repeat: inherit;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
  align-items: center;
  color: #f54748;
  margin-top: 300px;
}

h2 {
  font-size: 45px;
  color: #4a1c40;
}
p {
  font: 40px;
  color: #402218;
}
button {
  border-radius: 12px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  background-color: #402218;
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
}
